

body {background: #fff url(../images/bg_dark.png)}

.row {width: 960px}
.newhtml {width: 800px}
ol {
  list-style: none;
  padding-left: 5em;

}


.page_wrap {margin: 25px auto 25px; border-radius: 3px; background: #FFF; box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4)}

.header_nav {background: #FE563B; padding: 10px 0 2px; margin-bottom: 25px; box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); z-index: 999}

.header_nav_fullwidth {background: #FE563B; padding: 10px 0 2px; margin-bottom: 25px; box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4)}

.header_logo {padding: 28px 0 0}
.header_logo img {float: right; margin-right: 30px}

.blog_post {}
.post_meta {font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; text-align: center; color: #999}
p {color: #000; font-size: 13px}
p.welcome_text {font-size: 180%; text-align:center; font-weight: normal; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic}

h1,h2,h3,h4 {font-family:'Open Sans Condensed',sans-serif; font-weight: normal}
.heading_dots {background: url(../images/heading_dots_grey.png) repeat-x center}
.heading_dots_grey {background: url(../images/heading_dots_grey.png) repeat-x center}
.heading_bg {background:#FFF; padding: 0 6px}
.heading_center_bg {background:#FFF; padding:0 10px}

.heading_supersize {font-size: 74px; text-align:center; font-weight: normal; line-height: normal; margin:0 0 10px}
.heading_largesize {font-size: 44px; text-align:center; font-weight: normal}

.dropcap_red, 
.dropcap_black {  
            border-radius: 100px 100px 100px 100px;
            display: block;
			float: left;
			font-size: 18px;
			line-height: 35px;
			margin: 4px 8px 0 0;
			text-align: center;
			width: 35px;
}

.dropcap_red {background: #FE563B; color: #FFF}
.dropcap_black {background: #000; color: #FFF}

.panel {background: #fafafa}

.panel.callout {background: #FE563B; border: 1px solid #CCC}

.panel.callout p, .panel.callout h4 {color: #fff}

ul.accordion > li.active {
    border-top: 3px solid #f34c31;
}

dl.tabs dd.active {
    border-top: 3px solid #f34c31;
    margin-top: -3px;
}

.nav-bar {margin-top: 0; background: none}
.nav-bar > li {border: 0; padding: 0; font-family: 'Open Sans Condensed',sans-serif; letter-spacing: 1px; box-shadow: none}
.nav-bar > li > a:first-child {font-size: 16px; text-transform: uppercase; padding: 5px 25px}
.nav-bar > li:last-child {border: 0; box-shadow: none}
.nav-bar > li.active:hover { background: #f34c31; cursor: default; }{}
.nav-bar > li:hover { background: #f34c31; color: #000;         
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; 
}

.nav-bar > li > a { color: #fff}
.nav-bar > li > a:hover { color: #fff;}

.nav-bar > li.has-flyout > a:first-child:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: #fff transparent transparent transparent; position: absolute; right: 20px; top: 20px; }

.nav-bar > li.has-flyout > a:hover:first-child:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: #fff transparent transparent transparent; position: absolute; right: 20px; top: 20px; }


.flyout {background: #FE563B; border-radius: 5px; border: 0; margin-top: 8px; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);}

ul.flyout li, .nav-bar li ul li { border-left: 0}
ul.flyout li a, .nav-bar li ul li a { background: #FE563B; color:#FFF; border: 0; font-size: 16px;}
ul.flyout li a:hover, .nav-bar li ul li a:hover { background: #f34c31; color: #fff; border: 0;         
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; 
		}
		
/* gallery menu */

.gallery-nav-bar {list-style:none; text-align: center; padding-top:10px; font-family: 'Open Sans Condensed',sans-serif; letter-spacing: 2px; text-transform: uppercase}
.gallery-nav-bar li {display: inline-block; margin-right: 1px}

.gallery-nav-bar li {padding: 3px 12px}

.gallery-nav-bar li a {color: #000; padding: 3px 12px}

.gallery-nav-bar li a:hover {background: #C02702; color: #FFF; padding: 3px 12px; border-radius: 3px}


/* footer menu */

.footer_menu {text-align:center; border-top: 1px dashed #999; margin: 25px 0 0; padding: 20px 0}
.footer_menu li {display: inline; list-style: none; margin-right: 20px}
.footer_menu li a {color: #fe563b}



-------------------------------------------------------------------------------------*/
/* Masonry
/*-------------------------------------------------------------------------------------------------*/

.centered { margin: 0 auto; }

.box {
  margin: 5px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  font-size: 100%;
  line-height: 1.4em;
  float: left;
}

.box p {font-size: 12px; margin: 0; padding: 12px 0}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

.box h4 {
  margin-bottom: 0; font-size: 14px; font-family:Georgia, "Times New Roman", Times, serif; padding: 0px;
}

.box img,
#tumblelog img {
  display: block;
  width: 100%;
}


.box_comment {background: #F2F0F0; border-bottom: 1px solid white; padding: 8px; border-bottom: 1px solid #D9D4D4; border-top: 1px solid #FCFAFA; overflow: hidden;}
.box_comment p {font-size: 11px; padding: 0px; margin:0}

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}

.col1 {width: 80px}
.col2 {width: 222px}
.col3 {width: 280px}
.col4 {width: 380px}
.col5 {width: 480px}

.col1 img { max-width: 80px; }
.col2 img { max-width: 211px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

/* fluid masonry */

.box_fluid {
  margin-bottom: 1.4%;
  padding: 0;
  background: #FFF;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  font-size: 100%;
  line-height: 1.4em;
  float: left;
}

.box_fluid_inner {padding: 0 15px 0}

.col_fluid {width: 32%}
.col_fluid img {width: 100%}
